<div class="container-fluid" style="margin-top: 5%;" ng-repeat="product in detail.memoryCardsData" ng-init="detail.hidePaymentButton()">
	<div class="row align-items-center" ng-if="product.id==detail.pid">
		<div class="col-12 col-sm-12 col-md-4 text-center" style="border-right: 0.5px solid grey;">
			<img src="images/{{product.id}}.jpg" style="width: 40vmin;margin-top: 15%;">
		</div>
		<div class="col-12 col-sm-12 col-md-8">
			<div class="row align-items-center">
				<div class="col-12" style="margin-top: 5%">
			<h3>{{product.name}}</h3></div>
			<div class="col-12" style="font-size: 2em;"><b>&#8377;{{product.price-product.price*product.discount/100 | number : 0}}</b> <small><strike>&#8377;{{product.price}}</strike>  <span style="color: green;">{{product.discount}}% Off</span></small></div>
			<div class="col-12"><b>Offer:</b> Get flat {{product.discount}}% off on first order.</div>
			<div class="col-12">
				<div class="row" style="line-height: 1.2;">
					<div class="col-2">
					<b>Details</b>
					</div>
					<div class="col-12 col-md-4">
						<ul>
							<li ng-repeat="item in product.details">{{item}}</li>
						</ul>
					</div>
					<div class="col-2 col-md-1"><b>Services</b></div>
					<div class="col-12 col-md-4">15 Days Replacement Policy against Damaged or Defective items</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row no-gutters" style="line-height: 1.2;">
					<div class="col-2">
					<b>Description</b>
					</div>
					<div class="col-12 col-md-10">
						{{product.description}}
					</div>
				</div>
			</div>
			<div class="col-12">
				<span ng-show="product.inStock"><a href="#/order/sd/{{product.id}}"><button style="margin: 2% 0%;background-color: orange; border:0px; color: white; padding: 1% 2%;">Buy Now</button></a></span>
				<span ng-hide="product.inStock" style="color: red;font-size: 1.5em;"><b>Out of stock!</b></span>
			</div>
		</div>
		</div>
	</div>
	<div class="container">
	<div class="row" ng-if="product.id==detail.pid">
		<div class="col-12 display-4" style="font-size: 2em; border-bottom: 1px solid;">Similar items</div>
		<div class="col-6 col-md-3" ng-repeat="item in product.similarItems">
			<a href="#/details/{{item}}">
			<div class="row text-center">
				<div class="col-12">
					<img ng-src="images/{{item}}.jpg" style="height: 4em; margin-top: 5%;">
				</div>
				<div class="col-12" ng-repeat="card in detail.memoryCardsData">
					<span ng-if="card.id==item">{{card.name}}<br><small>Offer: Get flat {{card.discount}}% off on first order</small><br>&#8377;{{card.price}}</span>
				</div>
			</div>
			</a>
		</div>
	</div>
</div>
</div>

<div class="container-fluid" style="margin-top: 5%;" ng-repeat="product in detail.usbDrivesData" ng-init="detail.hidePaymentButton()">
	<div class="row align-items-center" ng-if="product.id==detail.pid">
		<div class="col-12 col-md-4 text-center" style="border-right: 0.5px solid grey;">
			<img src="images/pd.jpg" style="width: 40vmin;margin-top: 15%;">
		</div>
		<div class="col-12 col-md-8">
			<div class="row">
				<div class="col-12" style="margin-top: 5%">
			<h3>{{product.name}}</h3></div>
			<div class="col-12" style="font-size: 2em;"><b>&#8377;{{product.price-product.price*product.discount/100 | number : 0}}</b> <small><strike>&#8377;{{product.price}}</strike>  <span style="color: green;">{{product.discount}}% Off</span></small></div>
			<div class="col-12"><b>Offer:</b> Get flat {{product.discount}}% off on first order.</div>
			<div class="col-12">
				<div class="row" style="line-height: 1.2;">
					<div class="col-12 col-md-2">
					<b>Details</b>
					</div>
					<div class="col-12 col-md-4">
						<ul>
							<li ng-repeat="item in product.details">{{item}}</li>
						</ul>
					</div>
					<div class="col-12 col-md-1"><b>Services</b></div>
					<div class="col-12 col-md-4">15 Days Replacement Policy against Damaged or Defective items</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row no-gutters" style="line-height: 1.2;">
					<div class="col-12 col-md-2">
					<b>Description</b>
					</div>
					<div class="col-12 col-md-10">
						{{product.description}}
					</div>
				</div>
			</div>
			<div class="col-12">
				<span ng-show="product.inStock"><a href="#/order/pd/{{product.id}}"><button style="margin: 2% 0%;background-color: orange; border:0px; color: white; padding: 1% 2%;">Buy Now</button></a></span>
				<span ng-hide="product.inStock" style="color: red;font-size: 1.5em;"><b>Out of stock!</b></span>
			</div>
		</div>
		</div>
	</div>
	<div class="container">
	<div class="row" ng-if="product.id==detail.pid">
		<div class="col-12 display-4" style="font-size: 2em; border-bottom: 1px solid;">Similar items</div>
		<div class="col-6 col-md-3" ng-repeat="item in product.similarItems">
			<a href="#/details/{{item}}">
			<div class="row text-center">
				<div class="col-12">
					<img ng-src="images/pd.jpg" style="height: 4em; margin-top: 5%;">
				</div>
				<div class="col-12" ng-repeat="card in detail.usbDrivesData">
					<span ng-if="card.id==item">{{card.name}}<br><small>Offer: Get flat {{card.discount}}% off on first order</small><br>&#8377;{{card.price}}</span>
				</div>
			</div>
			</a>
		</div>
	</div>
</div>
</div>

<div class="container-fluid" style="margin-top: 7%;" ng-repeat="product in detail.powerBanksData" ng-init="detail.hidePaymentButton()">
	<div class="row align-items-center" ng-if="product.id==detail.pid">
		<div class="col-12 col-md-4" style="border-right: 0.5px solid grey;">
			<div class="row">
				<div class="col-12 justify-content-center">
					<img ng-src="images/pb{{detail.imageSource}}.jpeg" style="height: 40vmin;">
				</div>
				<div class="row justify-content-center">
				<div class="col-2" ng-click="detail.imageSource='1'"><img src="images/pb1.jpeg" style="height: 10vmin;cursor: pointer;"></div>
				<div class="col-2" ng-click="detail.imageSource='2'"><img src="images/pb2.jpeg" style="height: 10vmin;cursor: pointer;"></div>
				<div class="col-2 align-self-center" ng-click="detail.imageSource='3'"><img src="images/pb3.jpeg" style="width: 10vmin;cursor: pointer;"></div>
				<div class="col-2" ng-click="detail.imageSource='4'"><img src="images/pb4.jpeg" style="height: 10vmin;cursor: pointer;"></div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-8">
			<div class="row">
				<div class="col-12">
			<h3>{{product.name}}</h3></div>
			<div class="col-12" style="font-size: 2em;"><b>&#8377;{{product.price-product.price*product.discount/100 | number : 0}}</b> <small><strike>&#8377;{{product.price}}</strike>  <span style="color: green;">{{product.discount}}% Off</span></small></div>
			<div class="col-12"><b>Offer:</b> Get flat {{product.discount}}% off on first order.</div>
			<div class="col-12">
				<div class="row" style="line-height: 1.2;">
					<div class="col-12 col-md-2">
					<b>Details</b>
					</div>
					<div class="col-12 col-md-4">
						<ul>
							<li ng-repeat="item in product.details">{{item}}</li>
						</ul>
					</div>
					<div class="col-12 col-md-1"><b>Services</b></div>
					<div class="col-12 col-md-4">15 Days Replacement Policy against Damaged or Defective items</div>
				</div>
			</div>
			<div class="col-12" ng-hide="product.description==''">
				<div class="row no-gutters" style="line-height: 1.2;">
					<div class="col-12 col-md-2">
					<b>Description</b>
					</div>
					<div class="col-12 col-md-10">
						{{product.description}}
					</div>
				</div>
			</div>
			<div class="col-12">
				<span ng-show="product.inStock"><a href="#/order/pb/{{product.id}}"><button style="margin: 2% 0%;background-color: orange; border:0px; color: white; padding: 1% 2%;">Buy Now</button></a></span>
				<span ng-hide="product.inStock" style="color: red;font-size: 1.5em;"><b>Out of stock!</b></span>
			</div>
		</div>
		</div>
	</div>
	<div class="container" ng-hide="product.similarItems==''">
	<div class="row" ng-if="product.id==detail.pid">
		<div class="col-12 display-4" style="font-size: 2em; border-bottom: 1px solid;">Similar items</div>
		<div class="col-3" ng-repeat="item in product.similarItems">
			<a href="#/details/{{item}}">
			<div class="row text-center">
				<div class="col-12">
					<img ng-src="images/{{product.id}}.jpg" style="height: 4em; margin-top: 5%;">
				</div>
				<div class="col-12" ng-repeat="card in detail.powerBanksData">
					<span ng-if="card.id==item">{{card.name}}<br><small>Offer: Get flat {{card.discount}}% off on first order</small><br>&#8377;{{card.price}}</span>
				</div>
			</div>
			</a>
		</div>
	</div>
</div>
</div>


<div class="container-fluid" style="margin-top: 5%;" ng-repeat="product in detail.speakersData" ng-init="detail.hidePaymentButton()">
	<div class="row" ng-if="product.id==detail.pid">
		<div class="col-4 text-center" style="border-right: 0.5px solid grey;">
			<img ng-src="images/jbl{{detail.imageSource}}.jpeg" style="height: 15em;margin-top: 15%;">
			<div class="row" style="position: absolute;bottom: 0;">
				<div class="col-3" ng-click="detail.imageSource='1'"><img src="images/jbl1.jpeg" style="height: 10vmin;cursor: pointer;"></div>
				<div class="col-4" ng-click="detail.imageSource='2'"><img src="images/jbl2.jpeg" style="height: 10vmin;cursor: pointer"></div>
				<div class="col-2" ng-click="detail.imageSource='3'"><img src="images/jbl3.jpeg" style="height: 10vmin;cursor: pointer;"></div>
				<div class="col-3" ng-click="detail.imageSource='4'"><img src="images/jbl4.jpeg" style="height: 10vmin;cursor: pointer;"></div>
			</div>
		</div>
		<div class="col-8">
			<div class="row">
				<div class="col-12">
			<h4 class="display-4">{{product.name}}</h4></div>
			<div class="col-12" style="font-size: 2em;"><b>&#8377;{{product.price-product.price*product.discount/100 | number : 0}}</b> <small><strike>&#8377;{{product.price}}</strike>  <span style="color: green;">{{product.discount}}% Off</span></small></div>
			<div class="col-12"><b>Offer:</b> Get flat {{product.discount}}% off on first order.</div>
			<div class="col-12">
				<div class="row" style="line-height: 1.2;">
					<div class="col-2">
					<b>Details</b>
					</div>
					<div class="col-4">
						<ul>
							<li ng-repeat="item in product.details">{{item}}</li>
						</ul>
					</div>
					<div class="col-1"><b>Services</b></div>
					<div class="col-4">15 Days Replacement Policy against Damaged or Defective items</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row no-gutters" style="line-height: 1.2;">
					<div class="col-2">
					<b>Description</b>
					</div>
					<div class="col-10">
						{{product.description}}
					</div>
				</div>
			</div>
			<div class="col-12">
				<span ng-show="product.inStock"><a href="#/order/sp/{{product.id}}"><button style="margin: 2% 0%;background-color: orange; border:0px; color: white; padding: 1% 2%;">Buy Now</button></a></span>
				<span ng-hide="product.inStock" style="color: red;font-size: 1.5em;"><b>Out of stock!</b></span>
			</div>
		</div>
		</div>
	</div>
	<div class="container" ng-hide="product.similarItems==''">
	<div class="row" ng-if="product.id==detail.pid">
		<div class="col-12 display-4" style="font-size: 2em; border-bottom: 1px solid;">Similar items</div>
		<div class="col-3" ng-repeat="item in product.similarItems">
			<a href="#/details/{{item}}">
			<div class="row text-center">
				<div class="col-12">
					<img ng-src="images/{{product.id}}.jpg" style="height: 4em; margin-top: 5%;">
				</div>
				<div class="col-12" ng-repeat="card in detail.speakersData">
					<span ng-if="card.id==item">{{card.name}}<br><small>Offer: Get flat {{card.discount}}% off on first order</small><br>&#8377;{{card.price}}</span>
				</div>
			</div>
			</a>
		</div>
	</div>
</div>
</div>